<header class="clearfix"></header>
<style>
  .file-over { border: dotted 3px red;
    width: 100px;
    height: 100px; } /* Default class applied to drop zones on over */
</style>
<div class="container-fluid sub-menu-container clearfix">
  <div class="container">
    <div class="col-lg-12 sub-menu">
      <ul>
        <li>Item1</li>
        <li>Item1</li>
        <li>Item1</li>
        <li>Item1</li>
        <li>Item1</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 header-form">
      <span>Required</span>
    </div>
    <div class="col-lg-8 col-lg-offset-2 form">
      <div class="row fix-row">
        <div class="col-lg-12 form-row">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-labels">
                Photo Upload
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <!-- app.component.html -->
                <input type="file"
                       ngFileSelect
                       [options]="options"
                       (onUpload)="handleUpload($event)"
                       (beforeUpload)="beforeUpload($event)">

                <!-- drag & drop file example-->
                <style>
                  .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
                </style>
                <div style="    width: 100px; height: 100px;
    background: #777;"
                  ngFileDrop
                     [options]="options"
                     (onUpload)="handleUpload($event)"
                     [ngClass]="{'file-over': hasBaseDropZoneOver}"
                     (onFileOver)="fileOverBase($event)"
                     (beforeUpload)="beforeUpload($event)">
                </div>
                <div>
                  Response: {{ uploadFile | json }}
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-12 form-row">
          <div class="row">
            <div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 form-labels">
              <span>Password Input</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <input [(ngModel)]="password" type="password" class="form-input">
            </div>
          </div>
        </div>
        <div class="col-lg-12 form-row">
          <div class="row">
            <div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 form-labels">
              <span>Number Input</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <input type="number" class="form-input number">
            </div>
          </div>
        </div>
        <div class="col-lg-12 form-row">
          <div class="row">
            <div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 form-labels">
              <span>Selecter</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <select name="" id="">
                <option selected="selected" disabled="disabled">Default value</option>
                <option value="item1">Item1</option>
                <option value="item2">Item2</option>
                <option value="item3">Item3</option>
                <option value="item4">Item4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-12 form-row">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-labels">
              <span>Switcher</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-12 form-row">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  form-labels">
              <span>Radio button</span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
              <input type="radio" name="class" value="Item1"> Item1<br>
              <input type="radio" name="class" value="Item2"> Item2<br>
              <input type="radio" name="class" value="Item3"> Item3
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="password" class="save" disabled="disabled" type="submit" >Save</button>
      <button *ngIf="!password" class="save-disalbe" disabled="disabled" type="submit" >Save</button>

    </div>
  </div>
</div>
<div class="container-fluid" style="padding: 0">
  <footer></footer>
</div>

