<div class="container-fluid">
  <header></header>
  <div [ngStyle]="{'background-image': 'url(' + item.src + ')'}" class="photo-main col-lg-12">

  </div>
</div>
<div class="container form">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
       <div class="col-lg-12 owner-info">
         <div class="row">
           <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
             <H1>{{item.label}}</H1>
             <p>Crozon, Bretagne, France·47 reviews</p>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 photo-owner">
          <span class="owner">
            <img src="/assets/owner.jpg" alt="">
            <span>owner</span>
          </span>
           </div>
           <div class="col-lg-12 hidden-lg ">
             <div class="form-fixed2">
               <div class="top-form2">
                 <div class="row">
                   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                     <span>${{item.cost}}</span>
                   </div>
                   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right">
                     <span>Per night</span>
                   </div>
                 </div>
               </div>
               <div class="form-body2 clearfix">
                 <div class="col-lg-6">
                   <p>Check in</p>
                   <input type="text" class="datepick" placeholder="mm/dd/yyyy">
                 </div>
                 <div class="col-lg-6">
                   <p>Check out</p>
                   <input type="text" class="datepick" placeholder="mm/dd/yyyy">
                 </div>
                 <div class="col-lg-12 select-panel">
                   <p>Guests</p>
                   <select>
                     <option value="1 guest">1 guest</option>
                     <option value="2 guest">2 guest</option>
                     <option value="3 guest">3 guest</option>
                     <option value="4 guest">4 guest</option>
                   </select>
                   <button>
                     Request to Book
                   </button>
                   <div class="text-bot">
                     <hr>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, optio.
                   </div>
                 </div>
               </div>
             </div>
            </div>
           <div class="col-lg-12 about-listing ">
             <hr>
             <h3>About this listing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cupiditate, delectus dicta hic illo iure laudantium necessitatibus nihil officia officiis omnis perferendis qui saepe, ullam velit. Atque eaque error facere facilis illo in quia veritatis? Dicta esse fuga in necessitatibus neque nihil nisi possimus quae sunt unde! Blanditiis.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet atque cupiditate, delectus dicta hic illo iure laudantium necessitatibus nihil officia officiis omnis perferendis qui saepe, ullam velit. Atque eaque error facere facilis illo in quia veritatis? Dicta esse fuga in necessitatibus neque nihil nisi possimus quae sunt unde! Blanditiis.</p>
           </div>
            <div class="col-lg-12 reviews">
              <hr>
              <h3>Reviews</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aut, autem, dolore et impedit ipsum obcaecati, quaerat qui sunt suscipit vero. Ad architecto blanditiis culpa cupiditate dignissimos et excepturi inventore ipsa iste maiores maxime modi pariatur placeat quaerat quam quis recusandae, repellat soluta suscipit voluptate. Expedita fuga odio voluptate!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aut, autem, dolore et impedit ipsum obcaecati, quaerat qui sunt suscipit vero. Ad architecto blanditiis culpa cupiditate dignissimos et excepturi inventore ipsa iste maiores maxime modi pariatur placeat quaerat quam quis recusandae, repellat soluta suscipit voluptate. Expedita fuga odio voluptate!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aut, autem, dolore et impedit ipsum obcaecati, quaerat qui sunt suscipit vero. Ad architecto blanditiis culpa cupiditate dignissimos et excepturi inventore ipsa iste maiores maxime modi pariatur placeat quaerat quam quis recusandae, repellat soluta suscipit voluptate. Expedita fuga odio voluptate!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aut, autem, dolore et impedit ipsum obcaecati, quaerat qui sunt suscipit vero. Ad architecto blanditiis culpa cupiditate dignissimos et excepturi inventore ipsa iste maiores maxime modi pariatur placeat quaerat quam quis recusandae, repellat soluta suscipit voluptate. Expedita fuga odio voluptate!</p>
            </div>
            <div class="col-lg-12">
              <hr>
              <h3>Hosted by Owner</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cum iste libero, obcaecati quam rem repudiandae. Corporis cupiditate est iusto, molestiae nisi soluta voluptatibus! At aut, consequatur consequuntur deserunt doloribus eius esse eum facere iste itaque iure non, quae quam quas quia, ratione veniam. Consequatur deleniti facilis labore saepe?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cum iste libero, obcaecati quam rem repudiandae. Corporis cupiditate est iusto, molestiae nisi soluta voluptatibus! At aut, consequatur consequuntur deserunt doloribus eius esse eum facere iste itaque iure non, quae quam quas quia, ratione veniam. Consequatur deleniti facilis labore saepe?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cum iste libero, obcaecati quam rem repudiandae. Corporis cupiditate est iusto, molestiae nisi soluta voluptatibus! At aut, consequatur consequuntur deserunt doloribus eius esse eum facere iste itaque iure non, quae quam quas quia, ratione veniam. Consequatur deleniti facilis labore saepe?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa cum iste libero, obcaecati quam rem repudiandae. Corporis cupiditate est iusto, molestiae nisi soluta voluptatibus! At aut, consequatur consequuntur deserunt doloribus eius esse eum facere iste itaque iure non, quae quam quas quia, ratione veniam. Consequatur deleniti facilis labore saepe?</p>
            </div>
         </div>
         </div>
       </div>
      </div>
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
      <div class="anchor"></div>
      <div class="form-fixed">
        <div class="top-form">
          <div class="row">
            <div class="col-lg-8">
              <span>$5000</span>
            </div>
            <div class="col-lg-4">
              <span>Per night</span>
            </div>
          </div>
        </div>
        <div class="form-body clearfix">
          <div class="col-lg-6">
            <p>Check in</p>
            <input type="text" class="datepick" placeholder="mm/dd/yyyy">
          </div>
          <div class="col-lg-6">
            <p>Check out</p>
            <input type="text" class="datepick" placeholder="mm/dd/yyyy">
          </div>
          <div class="col-lg-12 select-panel">
            <p>Guests</p>
            <select>
              <option value="1 guest">1 guest</option>
              <option value="2 guest">2 guest</option>
              <option value="3 guest">3 guest</option>
              <option value="4 guest">4 guest</option>
            </select>
            <button>
              Request to Book
            </button>
            <div class="text-bot">
              <hr>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, optio.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
