.container-fluid{
  text-align: center;
  margin: 100px;
}
.col-lg-2{
  width: 20%;
  padding: 0;
  background-color: yellow;
  border: 1px solid black ;
}
.full{
  min-height: 500px;
}
.half{
  min-height: 250px;
  border-bottom: 1px solid black;
}
.note{
  background-color: red;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-note{
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 5px;

}

