<div class="col-lg-12 footer">
  <div class="container ">
    <h3>Lorem ipsum.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At doloribus earum eum excepturi fugiat impedit minus neque nesciunt nulla numquam quos sint tempora, ut. Accusantium amet culpa labore optio quas, sapiente sunt ullam. Adipisci autem consectetur cumque cupiditate debitis dolor ducimus eligendi enim ex explicabo facere facilis fuga fugiat impedit inventore iste maxime nobis odio omnis optio, placeat quae qui quia quibusdam quod recusandae repellendus rerum sapiente sed, soluta tenetur vel vitae voluptatem. Consequatur culpa distinctio eius impedit iure tenetur?</p>
    <div class="wrapper-footer clearfix">
      <div class="col-lg-4">
        <h3>Lorem</h3>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Lorem</h3>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Lorem</h3>
        <ul>
          <li>Lorem ipsum.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor sit.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
